*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
}

body{
	max-width: 600px;
}

img{
	display: none;
	visibility: hidden;
}

h1, h2, h3, h4, h5, h6{
	font-size: 13px;
}

p{
	font-size: 12px;
}

#header{
	color: black;
	font-size: 12px;
}