.menu { 
	height: 35px;
	display: block;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 35px;
}

.menu ul li a {
	/* must be postioned relative  */ 
	position: relative;
	display: block;
	width: 120px;
	height: 35px;
	font-family: Arial, Times, sans;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}

.menu ul li a span {
	/* all layers will be absolute positioned */
	position: absolute;
	left: 0;
	width: 120px;
}

.menu ul li a span.out {
	top: 0px;
}

.menu ul li a span.over,
.menu ul li a span.bg {
	/* hide */  
	top: -35px;
}

/** 1st example **/

#menu {
	background: #fff;
}

#menu ul li a {
	color: #000;
}

#menu ul li a span.over {
	color: #eee;
}

#menu ul li span.bg {
/* height of the menu items */  
	height: 35px;
	background: url('bg_over.gif') center center no-repeat;
}

/** 2nd example **/

#menu2 {
	background: none;		
}

#menu2 ul li a {
	color: #fff;
}

#menu2 ul li a span.over {
	background: #fff;
	color: #000;
}